{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top: 2em;">
    <div class="jumbotron">
        <h2>Who's running the website?</h2>
        <p class="lead">This website is created and run by Leon Long, who's willing to sell it at a reasonable price.</p>
        <hr class="my-4">
        <h2>What services does the website provide?</h2>
        <p>The website mainly serves as a collection of a wide range of other websites and products - a map/dictionary in the computer world. 
        Our aim is to provide support for individuals that are looking for external tools in their academic life / career. As an example, if you are 
        an IB student, we have a collection of IB resources you might be interested in. We also recommend plenty of tools useful in every aspect possible: whether 
        you are looking for help in college application, or you are just interested in filmmaking, we have something for you.
        Recently we are considering an expansion: the new feature 'Share you thought' is coming out, which is a place where you can share any thoughts anonymously.
        </p>
        <h2><a href="{% url 'complaints' %}">This website is trash. I want to complain (click me)</a></h2>
        <p>Give some suggestions if you'd like to.</p>
    </div>
</div>




{% endblock %}