{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'home' %}">ShareAnything</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'explore:webpage_list' %}">Explore websites</a>
                    <a class="dropdown-item" href="{% url 'in-progress' %}">Useful Tools</a>
                    <a class="dropdown-item" href="{% url 'in-progress' %}">Documents</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'in-progress' %}">Restricted Area</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'thoughts:post_list' %}">Share your thoughts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'in-progress' %}">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'in-progress' %}">Today's pranks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
        </ul>
    </div>
</nav>
<!--script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>