{% extends "base.html" %}

{% block content %}
<div style="margin-right: 3em; margin-left: 3em;">
<div class="row" style="margin-top: 2em;">
    {% for key, value in dict.items %}
    <div class="col-md-4">
        <div class="card text-white bg-dark mb-3">
            <h3 class="card-header">{{ key }}</h3>
            <div class="list-group">
                {% for x in value %}
                <a href="{{ x.link }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ x }}</h5>
                    </div>
                    <p class="mb-1">{{ x.get_description }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}