{% load static %}
<!DOCTYPE html>
<html>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Have some fun</title>
<link rel="stylesheet" href="{% static 'dark.css' %}">

</head>

<body>
    <ul class="nav">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Shop</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="drop-btn">Resources</a>
            <div class="drop-content">
                <a href="{% url 'explore:list' %}">Explore</a>
                <a href="#">Book Recommendation</a>
                <a href="#">Useful tools</a> 
                <a href="#">Restricted area</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="drop-btn">Have fun</a>
            <div class="drop-content">
                <a href="#">Match your mate</a>
                <a href="#">Anonymous Forum</a>
                <a href="#">Square</a>
                <a href="#">Games</a>
            </div>
        </li>

    </ul>
    
    <div>{% block content%}{% endblock %}</div>

</body>

</html>